body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}


/***************start auth page**************/
.auth {
    
}
#error-auth-message {
    color: red;
}

/***************end auth page**************/